.index{
    background:url('https://im.kommersant.ru/Issues.photo/LifeStyle_Online/2019/06/27/KMO_120232_20616_1_t218_153158.jpg')center center/cover no-repeat;
      
}

.container_text{
  position: relative;
  width: 1140px;
  min-height: 750px;
  margin: 0 auto;
  background-color:gray;
  font-weight: 600;
  opacity: 0.9;
  
}

#time{
     float: right;
     font-size: 35px;
     border:0px;
} 

.photo{
  background-color:black;
}

.photo_rowing{
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  
}

.video{
  background: url('https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1371x603:1373x601)/origin-imgresizer.eurosport.com/2016/08/13/1910934-40214441-2560-1440.jpg')center center/cover no-repeat;
  text-align: center;
}

.btn {
  margin-right: 1400px;
  margin-bottom: 50px;
}

h1,h2, ul, li{
  padding-top: 10px;
  font-weight: 700;
}

.dropdown-item{
  text-align: center;
}



.dropdown-menu.show{
  opacity: 0.8;
}

.bg-light {
  --bs-bg-opacity: 0.8;
}

.concept_b{
  background-color: gray;
}
  
.concept_container{
  position: relative;
  width: 1140px;
  min-height: 900px;
  margin: 0 auto;
  background-color:white;  
}

table{
  text-align: left;
  width: 100%;
  caption-side: top ;
  color: black; 
}
th{
  padding: 5px;
}
caption{
  color:black;
}


